/* @styleguide
 * @title Color Styles
 *
 */

.text-red {
  color: #d6001c;
}

.text-red--dark {
  color: #A9131F;
}

.text-grey {
  color: #a5a5a5;
}

.text-body {
  color: #222;
}

.text--body-light {
  color: #808285;
}

.bg-white {
  background-color: #fff;
}
