*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: arial;
  font-size: 1.6rem;
  color: #222;
  background-color: white;
}

.container {
  max-width: 96rem;
  margin: 0 auto;
}
