/* @styleguide
   @title Variables
*/

/* @start color */
:root {
  --fontColor-text: #222;
  --text-red: #d6001c;
  --text-red--dark: #A9131F;
  --text-body: #222;
  --text--body-light: #808285;
}
/* @end color */
